body {
  background-color: FloralWhite;
  font-family: "Lucida Console", "Courier New", monospace;
}

a {
    text-decoration: none;
}

.nav-container {
  display: flex;
  background-color: DarkOliveGreen;
}

.nav-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

.nav-container > div > a {
  color: Green;
}

.img-responsive {
  width: 100%;
  max-width: 100px;
  height: auto;
}
